#hourglass {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	text-align: center;
}

#hourglass i {
	display: inline-block;
	font-size: 100px;
	color: #fff;
	position: relative;
	top: 45%;
}